
  <h2 class="acsented">My technoligical stack</h2>

<h3>
  <br>
  Languages I use:
</h3>
<hr>
<section>
  <div class="row">
    <div class="2u">
      <div class="image fit no-shadow">
        <%= image_tag "ruby.png" %>
      </div>
      Ruby
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <%= image_tag "js.png" %>
      </div>
      JavaScript
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
       <%= image_tag "html5.png" %>
      </div>
      HTML
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <%= image_tag "css.png" %>
      </div>
      CSS/SCSS/SASS
    </div>
  </div>
  <h3>
    <br>
    Backend framework I use:
  </h3>
  <hr>
  <div class="row">
    <div class="2u">
      <div class="image fit no-shadow">
        <%= image_tag "rails.png" %>
      </div>
      Ruby on Rails
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <%= image_tag "nodejs.png" %>
      </div>
    </div>
    Node JS
  </div>
  <h3>
    <br>
    Frontend framework I use:
  </h3>
  <hr>
  <div class="row">
    <div class="2u">
      <div class="image fit no-shadow">
        <%= image_tag "vuejs.png" %>
      </div>
      Vue JS
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <%= image_tag "angular.png" %>
      </div>
      Angular
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <%= image_tag "react.svg" %>
      </div>
      React JS
    </div>
  </div>
</section>